<h1>Perguntas a serem respondidas</h1>

<% @questions.each do |question| %>
  <div>
    <strong>Usuário:</strong> <%= question.user.email %>
    <p><%= question.content %></p>
    <%= form_with(model: [question, Answer.new], url: question_answers_path(question), method: :post) do |form| %>
      <%= form.text_area :content, placeholder: 'Digite sua resposta' %>
      <%= form.submit 'Enviar resposta' %>
    <% end %>
  </div>
<% end %>
