<div class='login-card'>
  <div class='form'>
    <h2>Criar Conta</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :cpf, class: 'label' %><br />
        <%= f.text_field :cpf, autofocus: true, autocomplete: "cpf", placeholder: 'Digite seu cpf' %>
      </div>


      <div class="field">
        <%= f.label :email, class: 'label' %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Digite seu email', class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :password, class: 'label' %>
        <% if @minimum_password_length %>
        <em>- Mínimo de (<%= @minimum_password_length %> caracteres)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Digite sua senha', class: 'input' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: 'label' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirme sua senha', class: 'input' %>
      </div>

      <div class="actions">
        <%= f.submit "Criar" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>