<h1>Produto <%= @product_model["name"] %> </h1>
<strong>Código <%= @product_model["sku"] %> </strong>
<h4>Peso <%= @product_model["weight"] %> </h4>
<h4>Profundidade <%= @product_model["width"] %> </h4>
<h4>Altura <%= @product_model["height"] %> </h4>

