<div class="h1">
  <h2>Usuários Bloqueados</h2>
</div>

<% @users.each do |user| %>
    <%= form_with(model: user, url: blocked_user_path(user), method: :patch) do |f| %>
    <div class="card-container">
      <div class="row">
        <div class="card-batch">
          Email: <%= user.email %></br>
          CPF: <%= user.cpf %></br>
          <div class="submit">
            <% if user.blocked? %>
              <%= f.submit 'Desbloquear' %>
            <% else %>
              <%= f.submit 'Bloquear' %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
<% end %>
