<h1>Perguntas em Aberto</h1>

<% if @questions.any? %>
  <div>  
    <% @questions.each do |q| %>
    <div>
      <strong>Usuário:</strong> <%= q.user.email %>
      
    </div>
    <div>
      <strong>Lote:</strong> <%= q.product_batch.code %>
    </div>
    <div>
      <strong>Dúvida:</strong>
      <%= q.content %>
      <p>
      <%= link_to 'Responder', new_product_batch_answer_path(product_batch_id: q.product_batch_id, question_id: q.id, user_id: q.user_id) %>
    <% if admin_signed_in? %>
      <%= button_to 'Excluir Pergunta', product_batch_question_path( q.product_batch_id, q.id), method: :delete %>
    <% end %>
    </div>
  <% end %>
</div>
<% else %>
<p>Sem perguntas a serem respondidas</p>
<% end %>


