<div class="h1">
  <h2>Perguntas em Aberto</h2>
</div>

<% if @questions.any? %> 
  <div class="card-container">
    <% @questions.each do |q| %>
      <div class='row'>
        <div class="card-batch">
          Usuário: <%= q.user.email %></br>
          Lote: <%= q.product_batch.code %></br>
          Dúvida: 
          <div class="answer-box">
            <%= q.content %>
          </div>
          <div class="submit">
            <%= link_to 'Responder', new_product_batch_answer_path(product_batch_id: q.product_batch_id, question_id: q.id, user_id: q.user_id) %>
          </div>
          <% if admin_signed_in? %>
            <%= button_to 'Excluir Pergunta', product_batch_question_path( q.product_batch_id, q.id), method: :delete %>
          <% end %>
        </div>
      </div>
    <% end %> 
  </div>
<% else %>
  <div class="h1">
    <h3>Sem perguntas a serem respondidas</h3>
  </div>
<% end %>


