<h1>Responder Usuário: </h1>


  <div>
    <strong>Usuário:</strong> <%= @question.user.email  %>
    <% #binding.pry %>
  </div>

  <div>
    <strong>Lote:</strong> <%= @question.product_batch.code %>
  </div>

  <div>
    <strong>Dúvida:</strong><%= @question.content %>
  </div>

<%= form_with model: @answer, url: product_batch_answers_path(product_batch_id: @product_batch.id, question_id: @question.id) do |f| %>
  <div>
    <%= f.text_area :content, placeholder: 'Digite sua resposta' %>
  </div>

  <%= f.submit "Enviar Resposta" %>
  
<% end %>
