<div class="h1">
  <h2>Lotes Cadastrados</h2>
</div>
<% if @product_batches.any? %>
  <div class="card-container">
    <% @product_batches.each do |batch| %>
      <div class="row">
        <div class="card-batch">
          <h4>Código do lote: <%= link_to batch.code, product_batch_path(batch.id) %></h4>
          Início:<%= batch.start_date %>hr
          Término:<%= batch.deadline %>hr</br>
          Estatus: <%= batch.status %>
          Criado por: <%= batch.created_by.email if batch.created_by %>
          <% if batch.approved_by.present? %>
            Aprovado por:<%= batch.approved_by.email if batch.approved_by%>
          <% end %>
          <%if batch.wait_approve? %>
            <%= button_to "Aprovar", approve_product_batch_path(batch.id), {method: 'patch'}%>
            <%= link_to 'Editar', edit_product_batch_path(batch.id) %>
          <%end%>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="h1">
    <h3>Não existem lotes cadastrados</h3>
  </div>
<% end %>