<div class="h1">
  <h2>Lotes Expirados</h2>
</div>

<% if @product_batches.any? %>
  <div class="card-container">
    <% @product_batches.each do |batch| %>
      <div class="row">
      <% if batch.bids.any? %>
          <div class="card-batch">
            Código: <%= link_to  batch.code, product_batch_path(batch.id) %> |
            Término: <%= batch.deadline %> hr
            <% if batch.wait_finish? %>
              <%= button_to 'Encerrar', close_batch_product_batch_path(batch ), { method: :patch} %>
            <% end %>
          </div>
        
      <% else %>
        <div class="card-batch">
          <strong>Código:</strong> <%= link_to  batch.code, product_batch_path(batch.id) %> |
          <strong>Término:</strong> <%= batch.deadline %> | 
          <strong>Lote sem Lance</strong>
          <%= button_to 'Excluir Lote', product_batch_path(batch.id), { method: :delete } %>
        </div>
      <% end %>
    <% end %>
    </div>
<% else %>
  <p>Não existem lotes expirados</p>
<% end %>
