<h2>Iten(s) para Leilão</h2>
<strong>Início:</strong> <%= @product_batch.start_date %> |
<strong>Término:</strong> <%= @product_batch.deadline %>
<div>
  <strong>Lance Mínimo: </strong>R$<%= @product_batch.minimum_value %> 
</div>

<% @product_batch.products.each do |product| %>
  <div>
    <strong>Produto: </strong><%= link_to product.name, product_path(product.id) %> 
  </div>
   <div>
    <strong>Descrição: </strong><%= product.description %> 
  </div>
<% end %>
<%= link_to 'Voltar', product_batches_path %>
  


