<h2>Iten(s) para Leilão</h2>

<div>
<strong>Início:</strong><%= @product_batch.start_date.strftime('%d-%m-%Y') %> 
       <strong> Hora: </strong> <%= @product_batch.start_time.strftime('%H:%M:%S') %>
<strong>Término:</strong><%= @product_batch.deadline.strftime('%d-%m-%Y') %> 
        <strong>Hora:</strong> <%= @product_batch.end_time.strftime('%H:%M:%S') %>
</div>

<div>
  <strong>Lance Mínimo: </strong>R$:<%= @product_batch.minimum_value %> 
  <strong>Diferença mínima: </strong>R$:<%= @product_batch.minimal_difference %> | <%= link_to "Fazer Lance", new_product_batch_bid_path(@product_batch) %>
</div>

<div>
<% @product_batch.products.each do |product| %>
<div>
  <strong>Produto: </strong><%= link_to product.name, product_path(product.id) %> 
</div>
<div>
  <strong>Descrição: </strong><%= product.description %> 
</div>
<% end %>
<div>

<div>
<% if @product_batch.bids.any? %>
  <p>Valor atual do lote: <%= @product_batch.bids.last.value %></p>
<% else %>
  <p>Valor atual do lote: <%= @product_batch.bids.last&.value || @product_batch.minimum_value %></p>
<% end %>

<%= link_to 'Voltar', product_batches_path %>
