<h1>Editar dados do produto</h1>

<% if @product.errors.any? %>
  <% @product.errors.full_messages.each.each do |msg| %>
    <div>
      <%= msg %>
    <div>
  <% end %>
<% end %>

<%= form_with(model: @product) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>
  <div>
    <%= f.label :weight %>
    <%= f.number_field  :weight %>
  </div>
  <div>
    <%= f.label :width %>
    <%= f.number_field :width %>
  </div>
  <div>
    <%= f.label :height %>
    <%= f.number_field  :height %>
  </div>
  <div>
    <%= f.label :depth %>
    <%= f.number_field  :depth %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
    <%= f.label :category_id %>
    <%= f.collection_select(:category_id, @categories, :id, :name) %>
  </div>
  <div>
    <%= f.submit 'Salvar' %>
  </div>
<% end %>
