<div class="h1">
  <h2>Cadastrar Produto</h2>
</div>

<div class="error-message">
  <% if @product.errors.any? %>
    <% @product.errors.full_messages.each.each do |msg| %>
      <div class="alert">
        <%= msg %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="form">
  <%= form_with(model: @product) do |f| %>
    <div class="input-text">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="upload-button">
      <%= f.label :photo %>
      <%= f.file_field :photo %>
    </div>
    <div class="input-text">
      <%= f.label :weight %>
      <%= f.number_field  :weight %>
    </div>
    <div class="input-text">
      <%= f.label :width %>
      <%= f.number_field :width %>
    </div>
    <div class="input-text">
      <%= f.label :height %>
      <%= f.number_field  :height %>
    </div>
    <div class="input-text">
      <%= f.label :depth %>
      <%= f.number_field  :depth %>
    </div>
    <div class="input-text">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div class="input-text">
      <%= f.label :category_id %>
      <%= f.collection_select(:category_id, @categories, :id, :name) %>
    </div>
    <div class="submit">
      <%= f.submit 'Salvar' %>
    </div>
  <% end %>
</div>