<div class="h1">
  <h2><%= @product.name %></h2>
</div>

<div class="card-container">
  <div class='row'>
    <div class="card-product">
      <div class="card-batch">
        <%= image_tag url_for(@product.photo), class: 'card' %><br>
        Código: <%= @product.code %><br>
        Categoria:<%= @product.category.name %><br>
        Descrição: <%= @product.description %><br>
        Dimensão: altura, largura, profundidade:<%= @product.height %>cm x <%= @product.width %>cm x <%= @product.depth %>cm<br>
        Peso:<%= @product.weight %>g<br>
        Estatus: <%= @product.status %>
        <div class="submit">
          <% if admin_signed_in? %>
            <%= link_to 'Editar', edit_product_path%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to 'Voltar', products_path %>
</div>
