<h1><%= @product.name %></h1>

<div>
  <strong>Código:</strong> <%= @product.code %>
</div>
<div>
  <strong>Categoria:</strong> <%= @product.category.name %>
</div>
<div>
  <strong>Descrição:</strong> <%= @product.description %>
</div>
<div>
  <strong>Dimensão: altura, largura, profundidade:</strong> <%= @product.height %>cm x <%= @product.width %>cm x <%= @product.depth %>cm
</div>
<div>
  <strong>Peso:</strong> <%= @product.weight %>g
</div>
<div>
  <strong>Imagem ilustrativa:</strong> <%= @product.photo %>
</div>

<div>
  <%= link_to 'Voltar', root_path %>
</div>
