<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header >
      <div class="header-fixed">
        <h1><%= link_to  'Leilão de Estoque', root_path %></h1>
          <div class="links">
            <%= link_to 'Produtos Cadastrados', products_path %>
            <%= link_to 'Lotes Cadastrados', product_batches_path %>
            <%= link_to 'Lotes Vencedores', show_result_path %>
          </div>
      </div>
    </header>
    <div class="login-fixed">
      <div class="login">
        <nav class="user">
          <% if !user_signed_in? && !admin_signed_in? %>
            <div >
              <%= link_to 'Usuário', new_user_session_path%>
            </div>
          <% elsif user_signed_in? %>
            <%= form_with(url: search_product_batches_path, method: :get) do |f| %>
              <%= f.label :query, 'Buscar Pedido' %>
              <%= f.text_field :query %>
              <%= f.submit 'Buscar' %>
            <% end %>
              <%= current_user.email %>
              <%= button_to 'Sair', destroy_user_session_path, method: :delete%>
            <%= link_to 'Meus Lotes', user_space_path %>
            <%= link_to 'Favoritos', favorite_table_path %>
          <% end %>
        </nav>
      
        <nav class="admin">
          <% if !user_signed_in? && !admin_signed_in? %>
            <%= link_to 'Admin', new_admin_session_path%>
          <% elsif admin_signed_in? %>
            <%= current_admin.email %><br>
            <%= button_to 'Sair', destroy_admin_session_path, method: :delete %>
              <%= link_to 'Cadastrar Produto', new_product_path %>
              <%= link_to 'Cadastrar Lote', new_product_batch_path %>
              <%= link_to 'Aprovar lote', aprove_path %>
              <%= link_to 'Lotes Expirados', expired_batches_path %>
              <%= link_to 'Caixa de Perguntas', product_batch_answers_path(:product_batch_id)%>
              <%= link_to 'Bloqueio de Usuário', blocked_users_path%>
          <% end %>
        </nav>
      </div>
    </div>
  
    <main>
      <div>
        <%= notice %>
        <%= alert %>
      </div>
      <%= yield %>
    </main>
    
  </body>
</html>
