<!DOCTYPE html>
<html>
  <head>
    <title>AuctionApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <header>
      <h1><%= link_to  'Leilão de Estoque', root_path %></h1>
      <%= link_to 'Produtos Cadastrados', products_path %> |
      <%= link_to 'Lotes Cadastrados', product_batches_path %> | 
    </header>

    <nav>
     <% if admin_signed_in?%>
        <%= current_admin.email  %>
        <div>
          <%= link_to 'Cadastrar Produto', new_product_path  %> |
          <%= link_to 'Cadastrar Lote', new_product_batch_path %> |
          <%= link_to 'Aprovar lote', aprove_path  %> |
          <%= button_to 'Sair', destroy_admin_session_path, method: :delete %>
        <div>
      <% else %>
        <%= link_to 'Entrar', new_admin_session_path  %>
      <% end %>
    </nav>

    <main>
      <div>
        <%= notice %>
      </div>
      <%= yield %>
    </main>
    
  </body>
</html>
